@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root {
    --height-top-bar: 4rem;
    --yt-spec-white-1: #fff;
    --yt-spec-white-2: #f8f8f8;
    --yt-spec-white-3: #f1f1f1;
    --yt-spec-white-4: #e9e9e9;
    --yt-spec-black-1: #282828;
    --yt-spec-black-2: #1f1f1f;
    --yt-spec-black-3: #161616;
    --yt-spec-black-4: #0d0d0d;
    --yt-spec-text-primary: #0f0f0f;
    --yt-spec-black-pure: #000;
    --yt-spec-grey-1: #ccc;
    --yt-spec-grey-2: #aaa;
    --yt-spec-grey-3: #909090;
    --yt-spec-grey-4: #717171;
    --yt-spec-grey-5: #606060;
    --yt-brand-youtube-red: #f00;
    --yt-brand-medium-red: #c00;
    --yt-brand-light-red: #ff4e45;
    --yt-spec-red-30: #ff8983;
    --yt-spec-red-70: #990412;
    --yt-spec-pale-blue: #f2f8ff;
    --yt-spec-light-blue: #3ea6ff;
    --yt-spec-dark-blue: #065fd4;
    --yt-spec-navy-blue: #252a3a;
    --yt-spec-light-green: #2ba640;
    --yt-spec-dark-green: #107516;
    --yt-spec-yellow: #fbc02d;
}
.sp{
  margin: 500rem 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--yt-spec-white-1);
    min-height: 100vh;
    color: var(--yt-spec-text-primary);
}
p{
  margin: 0;
}

.main-container{
  display: grid;
  grid-template-areas: 
  "top-bar container-videos"
  "menu container-videos";
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 4rem 1fr
}
@media (min-width:1024px) {
  .main-container{
    grid-template-columns: 16rem 1fr;
  }
  
}


/* :::::::::::::::::::::: NAVIGATION ::::::::::::::::::::::: */
.navigation {
  grid-area: menu;
  max-height: calc( 100vh - var(--height-top-bar));
  /* top: var(--height-top-bar); */
  position: relative;
}
@media (min-width: 1024px) {
  .navigation{
    overflow-y: scroll;
  }

}

.navigation__container {
  display:flex;
  flex-direction: column;
  padding: 0.25rem;
  row-gap: 1rem;
}

.navigation-level-1{
    display: flex;
    flex-direction: column;
  }
   .navigation-level-1 .navigation__item:last-child{
    margin-bottom: 1rem;
  }

.navigation__item{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem 0rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
}

@media (min-width: 1024px) {
  .navigation__item{
    padding: 0.5rem 1rem;
  }
}

.navigation__item:hover{
  background-color: rgba(0, 0, 0, 0.05)
}
.navigation__item.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation__description{
  font-weight: 400;
  margin: 1rem 0;
  padding-left: 0.75rem;
}

@media (min-width: 1024px) {

  .navigation__container {
    padding: 0.5rem;
  }
  .navigation__item{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.navigation__item__icon{
  width: 1.5rem;
  color: var(--yt-spec-grey-3);
  border-radius: 999px;
}

.navigation__item svg{
  width: 100%;
  height: 100%;
}

.navigation__item__text{
  flex: 1;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.75rem;
}

.navigation__item.active .navigation__item__text{
  font-weight: 500;
}


@media (min-width: 1024px) {
  .navigation__item__icon{
    margin-right: 1rem;
  }
  .navigation__item__text{
    font-size: 0.875rem;
  }
}

.navigation-level-2{
  display: none;
}
@media (min-width: 1024px) {
  .navigation-level-2{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation-level-2 .navigation__item:first-child {
    margin-top: 1rem;
  }
   .navigation-level-2 .navigation__item:last-child{
    margin-bottom: 1rem;
  }
}

/* :::::::::::::::::::: END NAVIGATION:::::::::::::::::::::::: */


/* ::::::::::::::::::::  TOP BAR :::::::::::::::::::::: */
.top-bar{
  grid-area: top-bar;
  box-sizing: inherit;
  border-bottom: 1px solid var(--yt-spec-grey-1);
  position: fixed;
  width: 100%;
  height: var(--height-top-bar);
  z-index: 10;
  background-color: var(--yt-spec-white-1);
}

.top-bar__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
}
.top-bar__container__left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 auto;
}
.top-bar__icon{
  padding: 0.75rem;
}

.top-bar__logo{
  width: 7rem;
  height: 2rem;
}

.top-bar__container__center{
  display: none;
}
@media (min-width: 1024px) {
  .top-bar__container__center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

.top-bar__container__center__input {
  box-sizing: inherit;
  width: 100%;
  max-width: 40rem;
  height: 2.5rem;
  border-radius: 999px 0 0 999px;
  border: 1px solid var(--yt-spec-grey-1);
  padding: 0 1rem;
  font-size: 0.875rem;
  color: var(--yt-spec-grey-3);
  outline: none;
}
.top-bar__search--button{
  display: flex;
  align-items: center;
  box-sizing: inherit;
  height: 2.5rem;
  background-color: var(--yt-spec-white-4);
  padding: 0 .5rem;
  border-radius: 0 999px 999px 0;
  border: 1px solid var(--yt-spec-grey-1);
}
.top-bar__search--button__icon{
  width: 1.75rem;
  color: var(--yt-spec-grey-3);
}

.top-bar__mic--button{
  box-sizing: inherit;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 999px;
  background-color: var(--yt-spec-white-4);
  border: 1px solid var(--yt-spec-grey-1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}




/* ::::::::::::::::::::  END TOP BAR :::::::::::::::::::::: */



.container-videos{
  grid-area: container-videos;
  position: relative;
  top: var(--height-top-bar);
  margin-left: 1.5rem;
  max-height: calc( 100vh - var(--height-top-bar));
  overflow-y: scroll;
}









